* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    color: white;
}

.header {
    grid-column: 2 / 3;
}

.main-content {
    background-color: grey;
}

.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.card {
    background-color: white;
    height: 100px;
}